<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Meet</title>
    <link rel="stylesheet" href="../style/googlemeet.css" />
  </head>
  <body>
    <div>
      <div class="mainContainer">
        <h1>Izaberite testni HTML string:</h1>
        <div class="slucajeviContainer">
          <div id="0" class="testniSlucaj">PRVI</div>
          <div id="1" class="testniSlucaj">DRUGI</div>
          <div id="2" class="testniSlucaj">TREĆI</div>
          <div id="3" class="testniSlucaj">ČETVRTI</div>
          <div id="4" class="testniSlucaj">PETI</div>
          <div id="5" class="testniSlucaj">ŠESTI</div>
          <div id="6" class="testniSlucaj">SEDMI</div>
          <div id="7" class="testniSlucaj">OSMI</div>
        </div>
        <div class="buttonContainer">
          <button onClick="dajZadnjePredavanje()">Daj Zadnje Predavanje</button>
          <button onClick="dajZadnjuVjezbu()">Daj Zadnju Vjezbu</button>
        </div>
        <div id="output">Odaberite akciju........</div>
      </div>
    </div>
  </body>
  <script src="../data/ulaz1.js"></script>
  <script src="../googlemeet/googlemeet.js"></script>
  <script src="../script/meetButtons.js"></script>
</html>
