<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forma</title>
  </head>
  <body>
    <form>
      <label for="ime">Ime</label>
      <input type="text" id="ime" />
      <label for="prezime">Prezime</label>
      <input type="text" id="prezime" />
      <label for="adresa">Adresa</label>
      <input type="text" id="adresa" />
      <label for="broj_telefona">Broj Telefona</label>
      <input type="text" id="broj_telefona" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
